body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background: lightgray;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  background: #35424a;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: orangered 3px solid;
}
header #branding {
  float: left;
}
header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}
header ul {
  margin: 0;
  padding: 0;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #logo {
  float: left;
}
header #logo h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 50px;
}
header .highlite,
header .current a {
  color: orangered;
  font-weight: bold;
}
header a:hover {
  color: grey;
  font-weight: bold;
}
#showcase {
  background: url("Show-case.jpg");
  min-height: 400px;
  height: 400px;
  color: white;
  font-weight: bold;
  text-align: center;
}
#showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 30px;
}
#showcase p {
  font-size: 20px;
}
#newsletter {
  padding-top: 20px;
  background: #35424a;
  color: white;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin: 15px;
}
#newsletter input[type="Email"] {
  padding: 4px;
  width: 250px;
  height: 25px;
}
.button {
  background-color: orangered;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  height: 20px;
  border-radius: 20px;
  border: none;
}
#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
#boxes .box img {
  width: 90px;
}
aside {
  float: right;
  margin-top: 10px;
  width: 30%;
  margin-bottom: 10px;
}
footer {
  background: orangered;
  height: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 25px;
  margin-top: 10px;
  color: white;
}
#main-col {
  float: left;
  width: 65%;
  margin-bottom: 10px;
}
.dark {
  background: darkslategrey;
  color: white;
  padding: 10px;
}
#blog li {
  list-style: none;
  border: 1px solid #cccccc;
  padding: 20px;
  background: #e6e6e6;
  margin-bottom: 6px;
}
.quote input {
  width: 90%;
  padding: 5px;
}

@media (max-width: 768px) {
  #boxes .box {
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form {
    text-align: center;
    width: 100%;
    float: none;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #newsletter button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="Email"] {
    width: 100%;
    margin-bottom: 5px;
  }
}
